# Ignore all top level stuff by default
# This prevents adding files by accident
/*

# Excluding
!/app/
!/fonts/
!/README.md
!/.gitignore
!/workspace.code-workspace
!/requirements.txt
!/run.*

# Python stuff
__pycache__/